@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

body {
  background: #ffffff;
  color: #000000;
}

@layer components {
  .flex-center { @apply flex items-center justify-center; }
}
